﻿@model IEnumerable<AppAuth.Web.ViewModels.WeatherForecastViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Datos desde la api</h1>
<table class="table">
    <tr>
        <th>Fecha</th>
        <th>Temperature F</th>
        <th>Temperature C</th>
        <th>Summary</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.TemperatureF</td>
            <td>@item.TemperatureC</td>
            <td>@item.Summary</td>
        </tr>        
    }
</table>
