@model AppAuth.Web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form class="col-4 mx-auto" asp-action="Login" asp-controller="Auth">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Usuario</label>
        <input asp-for="Username"  type="text" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Contraseña</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ValidatePassword" class="form-label">Contraseña</label>
        <input asp-for="ValidatePassword" type="password" class="form-control">
        <span asp-validation-for="ValidatePassword" class="text-danger"></span>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </div>
</form>