﻿@model AppAuth.Unidos.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form class="col-4 mx-auto" asp-action="Login" asp-controller="Account">
    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Usuario</label>
        <input type="text" class="form-control" asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </div>
</form>