﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Datos desde api/values</h1>

<table class="table">
    <thead>
        <tr>
            <td>summary</td>
            <td>temperatureC</td>
            <td>temperatureC</td>
            <td>date</td>
        </tr>
    </thead>
    <tbody id="tb-content"></tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(async function () {
            const response = await fetch('api/values');
            const lista = await response.json();

            const tablaBody = lista.map(e => `<tr>
                <td>${e.summary}</td>
                <td>${e.temperatureC}</td>
                <td>${e.temperatureC}</td>
                <td>${e.date}</td>
            </tr>`);

            const tb_content = document.getElementById('tb-content');
            tb_content.innerHTML = tablaBody.join('');
        });
    </script>

}
